@font-face {
    font-family: poppins;
    src: url(Fonts/Poppins-Regular.ttf);
}
body{
    font-family: poppins;
    padding: 5%;
}
#background_image{
    height: 90vh;
    width: 80vw;
    opacity: 0.1;
    margin-left: 7vw;
    margin-top: 5vh;
}
#welcome{
    margin-left: 10vw;
position: relative;
}
.welcome{
    border: none;
    background-color: #192A56;
    width: 80vw;
    height: 100vh;
    display: flex;
    border: none;
    margin-left: 7vw;
    margin-top: -100vh;
    gap: 6vw;
    border-radius: 20px 20px 0px 0px;


}
.welcome img{
    position: relative;
    width: 80vw;
    height: 80vh;
    margin-top: 10vh;

}
HR{
    position: relative;
    margin-top: 2vh;
    width: 20vw;
    margin-left: 5vw;
}
.born_a_crime{
    position: relative;
    width: 40%;
    color: white;
    padding:3vw;
    
}
.born_a_crime_book img{
    position: relative;
    width: 30vw;
    margin-top: 13vh;
    border-radius: 20px;
}
#discover{
    margin-top: 10vh;
}
h1{
    margin-top: 8vh;
    font-size: 5em;
}
#order_now {
    background-color: rgb(233, 184, 22);
    color: white;
    padding: 3% 2%;
    font-size: 1.5em;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10vh;

}
.icons{
    margin-top: 5vh;
    display: flex;
    gap: 2vw;
}
#open_book{
    border: none;
    background-color: rgb(233, 184, 22);
    padding: 8%;
    border-radius: 50px;
    
}
.info{
    display: flex;
    gap: 1vw;
}
.vl{
    height: 4vh;
    border-left: 2px dotted rgb(243, 243, 243);
    margin-top: 2vh;
}
#trusted{
    text-align: center;
    margin-top: 5vh;
    font-size: 2em;
}
.trusted_by_best{
    border: none;
    background-color: rgb(212, 230, 230);
    width: 76vw;
    margin-left: 7vw;
    padding:2vw;
    border-radius: 0px 0px 20px 20px;
}
.logos{
    display: flex;
    gap: 5vw;
    margin-left: 10vh;
}
.logos img{
    width: 10vw;
    height: 10vh;
    margin-left: 1vw;
}
.ibook img{
    width: 5vw;
    margin-left: 3vw;
}
.rename{
    display: flex;
    margin-top: 10vh;
    margin-left: 7vw;
    gap: 14vw;

}
.pictures{
    display: inline-block;
    
}
.slideshow{
    animation: fade 15s infinite forwards;
    position: relative;

}
.slideshow:nth-child(1) { 
   animation-delay: 0s; 
  }
  .slideshow:nth-child(2) { 
    animation-delay: 5s; 
  }
  .slideshow:nth-child(3) { 
    animation-delay: 10s;
  }
  @keyframes fade {
    0% { 
      opacity: 0; 
    }
    10% { 
      opacity: 1; 
    }
    20% { 
      opacity: 1;
     }
    30% { 
      opacity: 0; 
    }
    100% { 
      opacity: 0;
     }
    }

.slideshow img{
    width: 50vw;
    border-radius: 20px;
}
.text{
    width: 45vw;
    margin-top: 15vh;
    color: #192A56;
    font-size: 2em;
}
#mandela{
    position: relative;
    margin-left: 20vh;
}
.review{
    display: flex;
    gap: 5vw;
    margin-top: 15vh;
    margin-bottom: 10vh;
}
.book_review{
    width: 40vw;
}
.about_book{
    border: none;
    background-color: #192A56;
    width: 80vw;
    height: 20vh;
    display: flex;
    border: none;
    margin-left: 7vw;
 margin-top: -20vh;
    gap: 6vw;
    
}
#background_image_book{
    height: 20vh;
    width: 80vw;
    opacity: 0.1;
    margin-left: 7vw;
  top: 5vh;
}
.about_book img{
    margin-left: 75vw;
}